<h2 id="title">Welcome to Ember</h2>

models: {{model.length}}<br>
{{#each model as |task|}}
  name: {{task.name}}<br>
{{/each}}
<br>
<br>
tasks: {{filteredTasks.length}}<br>
{{#each filteredTasks as |task|}}<br>
  name: {{task.name}}
{{/each}}

